/*======================================
        Footer
======================================*/
.link-tag {
    text-align: center;
    padding: 25px 0 35px;
    font-size: 21px;
    .link-tagIn {
        padding-left: 22px;
        padding-right: 22px;
    }
    h4 {
        font-size: 42px;
        color: $color-primary;
    }
    p {
        font-size: 16px;
    }
    .title-tag {
        padding: 14px 0 10px;
        text-indent: -10px;
        font-family: $font-heading;
        line-height: 28px;
        font-size: 24px;
    }
    .tagList {
        @extend %clearfix;
        display: table;
        margin: auto;
        li {
            text-align: center;
            float: left;
            &:not(:first-child) {
                padding-left: 19px;
            }
        }
        span {
            display: inline-block;
            border: 1px solid $color-o;
            border-radius: 10px;
            padding: 7px 17px 4px;
        }
    }
}
/*======================================
        Footer
======================================*/
.footer {
    position: relative;
    background: $color-1;
    .footerIn {
        padding: 30px 0 20px;
        max-width: 780px;
        width: 100%;
        margin: auto;
    }
    .link-footer {
        padding-top: 60px;
        padding-bottom: 50px;
        ul {
            display: table;
            margin: auto;
            li {
                display: table-cell;
                vertical-align: bottom;
                padding: 0 15px;
                border-right: 1px solid $color-a;
                &:first-child {
                    border-left: 1px solid $color-a;
                }
                &:not(:first-child) {
                    padding-bottom: 4px;
                }
                a {
                    color: $color-a;
                }
            }
        }
        .pt_20 {
            padding-top: 20px;
        }
    }
    .copyright {
        text-align: center;
        color: $color-a;
    }
}
