/*======================================
        Footer
======================================*/
.link-tag {
    padding: 25px 0 35px 22px;
    font-size: 21px;
    h4 {
        color: $color-primary;
    }
    p {
        font-size: 16px;
    }
    .title-tag {
        padding: 6px 0;
        text-indent: -10px;
        font-family: $font-heading;
        line-height: 28px;
    }
    .tagList {
        @extend %clearfix;
        li {
            float: left;
            &:not(:first-child) {
                padding-left: 19px;
            }
        }
        a {
            display: inline-block;
            border: 1px solid $color-o;
            border-radius: 10px;
            padding: 7px 17px 4px;
            &:hover {
                border: 1px solid $color-primary;
            }
        }
    }
}
.footer {
    position: relative;
    .footerIn {
        padding: 15px 0;
        background: $color-1;
        width: 900px;
        margin: 0 auto;
    }
    .link-footer {
        padding-top: 30px;
        padding-bottom: 30px;
        ul {
            display: table;
            margin: auto;
            li {
                display: table-cell;
                vertical-align: bottom;
                padding: 0 24px;
                border-right: 1px solid #ffffff;
                &:first-child {
                    border-left: 1px solid #ffffff;
                }
                &:not(:first-child) {
                    padding-bottom: 4px;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        color: $color-a;
    }
}
