/*======================================
        body-page
======================================*/
.body-page {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: auto;
    &:before {
        content: "";
        position: absolute;
        top: -100px;
        left: -80px;
        right: -80px;
        z-index: -1;
        background: rgba(255, 255, 255, 1);
        filter: blur(50px);
        height: 550px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 150px;
        left: 0px;
        right: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 1);
        height: 100%;
    }
}
/*======================================
        section
======================================*/
.section-01 {
    position: relative;
    text-align: center;
    .paralax1 {
        // background: url('../images/woman_01.png') no-repeat;
        position: absolute;
        top: -270px;
        // width: 458px;
        // height: 475px;
        z-index: 0;
        right: -25px;
        margin-right: -25px;
    }
    .banner-section {
        position: relative;
    }
    .banner-text {
        z-index: 1;
        position: absolute;
        bottom: 100px;
        left: 50px;
    }
}
.section-02 {
    padding-top: 65px;
    .title_h2 {
        padding-bottom: 50px;
    }
    .banner-cen {
        text-align: left;
        margin-left: -25px;
    }
}
.section-03 {
    position: relative;
    padding-top: 100px;
    .btn {
        position: absolute;
        bottom: 45px;
        left: 0;
        right: 0;
        text-align: center;
    }
    +.arrow {
        padding-top: 90px;
    }
    .banner-cen {
        position: relative;
        padding: 0 3%;
    }
    .text-link {
        position: absolute;
        top: 290px;
        right: 172px;
        font-size: 22px;
        a {
            color: #2A74BD;
            text-decoration: underline;
        }
    }
}
.section-04 {
    margin-top: 58px;
    // height: 775px;
    .list_fade {
        li {
            position: relative;
            &:nth-child(2) {
                top: -24px;
            }
            &:nth-child(3) {
                top: -60px;
            }
        }
    }
}
.section-05 {
    position: relative;
    padding-top: 130px;
    z-index: 2;
    .img-scroll {
        position: absolute;
        bottom: 24%;
        left: 0;
        right: 0;
        text-align: center;
        img {
            &:last-child {
                position: relative;
                top: -52px;
            }
        }
    }
    .banner-section {
        position: relative;
        z-index: -1;
        margin-top: -80px;
    }
}
.section-06 {
    .arrow {
        padding-top: 120px;
    }
}
.section-07 {
    padding: 105px 0 163px;
    position: relative;
    .title-fade {
        position: absolute;
        bottom: 248px;
        left: 0;
        right: 0;
    }
}
.section-08 {
    .title_h2 {
        padding-bottom: 25px;
    }
    // .banner-cen {
    //     position: relative;
    //     .foam {
    //         position: absolute;
    //         top: 268px;
    //         left: 70px;
    //         z-index: 2;
    //     }
    // }
    .description {
        z-index: 2;
        position: relative;
        text-align: center;
        font-size: 32px;
        line-height: 51px;
        padding-bottom: 110px;
    }
    .line-yellow_220 {
        position: absolute;
        z-index: -1;
        top: 33px;
        left: 49%;
    }
    .line-yellow_490 {
        position: absolute;
        top: 83px;
        z-index: -1;
        left: 20%;
    }
}
.section-09 {
    z-index: 2;
    margin-top: 95px;
    position: relative;
    .paralax2 {
        background: url('../images/woman_02.png') no-repeat;
        position: absolute;
        top: 350px;
        width: 400px;
        height: 603px;
        z-index: -1;
        right: -35px;
        margin-right: -35px;
    }
    .title_h2 {
        padding-bottom: 120px;
    }
    .btn {
        margin: 70px auto 120px;
    }
}
.section-10 {
    position: relative;
    padding-top: 20px;
    .title_h2 {
        padding-bottom: 40px;
    }
    .title-scroll {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        z-index: 9;
        text-align: center;
    }
    +.arrow {
        padding-top: 210px;
    }
}
.section-11 {
    padding: 145px 0 50px;
}
#bannerFadeId {
    padding-top: 20px;
    opacity: 0;
    margin-left: -60px;
    transition: all 1s;
    &.fade {
        opacity: 1;
    }
}
.section-12 {
    padding-top: 160px;
    position: relative;
    z-index: 2;
    .paralax3 {
        background: url('../images/woman_03.png') no-repeat;
        position: absolute;
        bottom: 0px;
        width: 537px;
        height: 587px;
        z-index: -1;
        right: -10px;
        margin-right: -10px;
    }
    .banner {
        padding-left: 5px;
    }
    .title_h2 {
        &.middle {
            padding: 150px 0;
        }
    }
}
.section-13 {
    position: relative;
    z-index: 2;
    .listItems {
        // margin: 0 -38px;
        // .items {
        //     width: 50%;
        // }
    }
    .items-top {
        margin-top: 110px;
        position: relative;
        background: url('../images/background_01.png') no-repeat center;
        width: 100%;
        height: 560px;
        padding: 0 24px;
        @extend %clearfix;

    }
    .title_h3 {
        position: absolute;
        top: -18px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .thumnail-news {
        margin-top: 38px;
        text-align: center;
    }
    .items-bottom {
        margin-top: 40px;
        position: relative;
        background: url('../images/background_02.png') no-repeat center;
        width: 100%;
        height: 560px;
        padding: 0 24px;
        @extend %clearfix;
    }
    .text {
        width: 450px;
        padding-top: 85px;
        padding-right: 33px;
        font-size: 26px;
        line-height: 48px;
        text-align: justify;
        float: right;
    }
    #background-blur {
        position: relative;
        // background: url("../images/banner_blur_start.png") center no-repeat;
        // width: 843px;
        width: 100%;
        max-width: 780px;
        height: 974px;
        margin: -70px auto auto;
        z-index: -1;
        // .blurred-img {
        //     background: url('../images/banner_blur_end.png')center no-repeat;
        //     opacity: 0;
        //     background-position: center;
        //     background-size: cover;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }
    }
}
.section-14 {
    position: relative;
    z-index: 9;
    margin-top: -240px;
    padding: 275px 35px 175px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 780px;
        height: 256px;
        background: url('../images/banner_wrap_top.png') no-repeat top;
        background-size: 100%;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 780px;
        height: 155px;
        background: url('../images/banner_wrap_bottom.png') no-repeat center;
        background-size: 100%;
    }
    .title_h2 {
        padding: 40px 0 35px;
    }
    .text {
        font-size: 28px;
        line-height: 48px;
        text-align: justify;
    }
    .banner-cen {
        padding: 50px 0;
    }
    .note {
        text-align: justify;
        font-size: 20px;
        line-height: 29px;
        padding-top: 22px;
    }
    .listItems {
        // padding-top: 43px;
        padding-top: 30px;
        .title_h3 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .items {
            position: relative;
            float: left;
            width: 100%;
            .title_h3 {
                margin-left: -35px;
            }
            .banner {
                padding-top: 24px;
            }
        }
    }
    .pt_40 {
        padding-top: 40px;
    }
}
.section-15 {
    position: relative;
    // background: url('../images/banner_wrap_02.png')no-repeat;
    // width: 100%;
    max-width: 792px;
    margin: 100px 0 0 -11px;
    .content-section {
        background: url('../images/bg_pattern.jpg') bottom;
        padding-bottom: 110px;
    }
    .listItems {
        background: #fff;
        padding: 70px 0 30px 11px;
        position: relative;
        .items {
            position: relative;
            @extend %clearfix;
            &:first-child {
                padding-left: 1%;
                padding-bottom: 35px;
                .description-content {
                    margin-top: -32px;
                }
                .title_h3 {
                    position: relative;
                    left: -6%;
                }
            }
            &:last-child {
                padding-right: 8px;
                .avatar {
                    float: left;
                    width: 47%;
                }
                .description-content {
                    float: left;
                    width: 53%;
                }
                .description-content {
                    margin-top: -20px;
                }
                .title_h3 {
                    position: relative;
                    left: 5%;
                }
                .note {
                    padding-top: 35px;
                }
            }

            .avatar {
                float: left;
                width: 45%;
            }
            .description-content {
                float: left;
                width: 55%;
            }
            .title_h3 {
                padding-bottom: 20px;
            }
            .description {
                padding: 0 5%;
            }
        }
        .text {
            width: 298px;
            text-align: justify;
        }
        .note {
            font-size: 13px;
            line-height: 17px;
            padding-top: 10px;
            color: #666666;
        }
    }
    .ps {
        position: relative;
        text-align: right;
        padding-top: 10px;
        font-size: 16px;
    }
    +.section-03 {
        padding-top: 0;
    }

}


.paralax1, .paralax2, .paralax3 {
    // display: none;
}
