body {
    background: url('../images/background.png') no-repeat fixed;
    background-size: cover;
    color: #000;
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: auto;
    &:before {
        content: "";
        position: absolute;
        top: 500px;
        left: 0;
        right: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 1);
        filter: blur(50px);
        height: 550px;
    }
}
a {
    transition: all 400ms;
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
    &:focus {
        color: $color-primary;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h5, h6 {
    font-family: $font-heading;
    font-weight: normal;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
button, input, a {
    &:focus {
        outline: none;
    }
}
