@charset "UTF-8";
.row_clear:after, #container:after, .listItems:after, .header:after, .section-13 .items-top:after, .section-13 .items-bottom:after, .section-15 .listItems .items:after, .link-tag .tagList:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

body {
  background: url("../images/background.png") no-repeat fixed;
  background-size: cover;
  color: #000;
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: auto;
}

body:before {
  content: "";
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  z-index: -1;
  background: white;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  height: 550px;
}

a {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #D60056;
  text-decoration: none;
}

a:focus {
  color: #D60056;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Wraper -------------------*/
#container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

/*------------------- Component -------------------*/
.description {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
  font-size: 28px;
  line-height: 48px;
  text-align: justify;
}

.title_h2 {
  text-align: center;
}

.title_h5 {
  font-size: 15px;
}

.title_h6 {
  font-size: 14px;
}

.title-fade {
  text-align: center;
}

.pink {
  color: #D60056;
}

.bold {
  font-weight: bold;
}

.btn {
  text-align: center;
}

.banner-cen {
  text-align: center;
}

.img-pass {
  text-align: center;
}

.img-pass img {
  max-width: inherit;
}

.arrow {
  text-align: center;
}

.line-yellow_220 {
  background: yellow;
  width: 100%;
  max-width: 175px;
  height: 13px;
  position: relative;
}

.line-yellow_220:before {
  content: "";
  position: absolute;
  left: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 13px 13px;
  border-color: transparent transparent yellow transparent;
}

.line-yellow_220:after {
  content: "";
  position: absolute;
  right: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: yellow transparent transparent transparent;
}

.line-yellow_490 {
  background: yellow;
  width: 100%;
  max-width: 450px;
  height: 13px;
  position: relative;
}

.line-yellow_490:before {
  content: "";
  position: absolute;
  left: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 13px 13px;
  border-color: transparent transparent yellow transparent;
}

.line-yellow_490:after {
  content: "";
  position: absolute;
  right: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: yellow transparent transparent transparent;
}

.fadeTop {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.fadeTop.ef-slide {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.fadeIn {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.fadeIn.ef-slide {
  opacity: 1;
}

.mgr_left_29 {
  margin-left: -29px;
}

/*======================================
        Header
======================================*/
.header .paralax {
  background: url("../images/img_woman_01.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 1990px;
  z-index: -1;
  right: -100px;
  margin-right: -100px;
}

.header .foam {
  position: absolute;
  top: 220px;
  left: 50px;
}

/*======================================
        body-page
======================================*/
.body-page {
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: auto;
}

.body-page:before {
  content: "";
  position: absolute;
  top: -100px;
  left: -80px;
  right: -80px;
  z-index: -1;
  background: white;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  height: 550px;
}

.body-page:after {
  content: "";
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0;
  z-index: -1;
  background: white;
  height: 100%;
}

/*======================================
        section
======================================*/
.section-01 {
  position: relative;
  text-align: center;
}

.section-01 .paralax1 {
  position: absolute;
  top: -270px;
  z-index: 0;
  right: -25px;
  margin-right: -25px;
}

.section-01 .banner-section {
  position: relative;
}

.section-01 .banner-text {
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 50px;
}

.section-02 {
  padding-top: 65px;
}

.section-02 .title_h2 {
  padding-bottom: 50px;
}

.section-02 .banner-cen {
  text-align: left;
  margin-left: -25px;
}

.section-03 {
  position: relative;
  padding-top: 100px;
}

.section-03 .btn {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  text-align: center;
}

.section-03 + .arrow {
  padding-top: 90px;
}

.section-03 .banner-cen {
  position: relative;
  padding: 0 3%;
}

.section-03 .text-link {
  position: absolute;
  top: 290px;
  right: 172px;
  font-size: 22px;
}

.section-03 .text-link a {
  color: #2A74BD;
  text-decoration: underline;
}

.section-04 {
  margin-top: 58px;
}

.section-04 .list_fade li {
  position: relative;
}

.section-04 .list_fade li:nth-child(2) {
  top: -24px;
}

.section-04 .list_fade li:nth-child(3) {
  top: -60px;
}

.section-05 {
  position: relative;
  padding-top: 130px;
  z-index: 2;
}

.section-05 .img-scroll {
  position: absolute;
  bottom: 24%;
  left: 0;
  right: 0;
  text-align: center;
}

.section-05 .img-scroll img:last-child {
  position: relative;
  top: -52px;
}

.section-05 .banner-section {
  position: relative;
  z-index: -1;
  margin-top: -80px;
}

.section-06 .arrow {
  padding-top: 120px;
}

.section-07 {
  padding: 105px 0 163px;
  position: relative;
}

.section-07 .title-fade {
  position: absolute;
  bottom: 248px;
  left: 0;
  right: 0;
}

.section-08 .title_h2 {
  padding-bottom: 25px;
}

.section-08 .description {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 51px;
  padding-bottom: 110px;
}

.section-08 .line-yellow_220 {
  position: absolute;
  z-index: -1;
  top: 33px;
  left: 49%;
}

.section-08 .line-yellow_490 {
  position: absolute;
  top: 83px;
  z-index: -1;
  left: 20%;
}

.section-09 {
  z-index: 2;
  margin-top: 95px;
  position: relative;
}

.section-09 .paralax2 {
  background: url("../images/woman_02.png") no-repeat;
  position: absolute;
  top: 350px;
  width: 400px;
  height: 603px;
  z-index: -1;
  right: -35px;
  margin-right: -35px;
}

.section-09 .title_h2 {
  padding-bottom: 120px;
}

.section-09 .btn {
  margin: 70px auto 120px;
}

.section-10 {
  position: relative;
  padding-top: 20px;
}

.section-10 .title_h2 {
  padding-bottom: 40px;
}

.section-10 .title-scroll {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  z-index: 9;
  text-align: center;
}

.section-10 + .arrow {
  padding-top: 210px;
}

.section-11 {
  padding: 145px 0 50px;
}

#bannerFadeId {
  padding-top: 20px;
  opacity: 0;
  margin-left: -60px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#bannerFadeId.fade {
  opacity: 1;
}

.section-12 {
  padding-top: 160px;
  position: relative;
  z-index: 2;
}

.section-12 .paralax3 {
  background: url("../images/woman_03.png") no-repeat;
  position: absolute;
  bottom: 0px;
  width: 537px;
  height: 587px;
  z-index: -1;
  right: -10px;
  margin-right: -10px;
}

.section-12 .banner {
  padding-left: 5px;
}

.section-12 .title_h2.middle {
  padding: 150px 0;
}

.section-13 {
  position: relative;
  z-index: 2;
}

.section-13 .items-top {
  margin-top: 110px;
  position: relative;
  background: url("../images/background_01.png") no-repeat center;
  width: 100%;
  height: 560px;
  padding: 0 24px;
}

.section-13 .title_h3 {
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  text-align: center;
}

.section-13 .thumnail-news {
  margin-top: 38px;
  text-align: center;
}

.section-13 .items-bottom {
  margin-top: 40px;
  position: relative;
  background: url("../images/background_02.png") no-repeat center;
  width: 100%;
  height: 560px;
  padding: 0 24px;
}

.section-13 .text {
  width: 450px;
  padding-top: 85px;
  padding-right: 33px;
  font-size: 26px;
  line-height: 48px;
  text-align: justify;
  float: right;
}

.section-13 #background-blur {
  position: relative;
  width: 100%;
  max-width: 780px;
  height: 974px;
  margin: -70px auto auto;
  z-index: -1;
}

.section-14 {
  position: relative;
  z-index: 9;
  margin-top: -240px;
  padding: 275px 35px 175px;
}

.section-14:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 780px;
  height: 256px;
  background: url("../images/banner_wrap_top.png") no-repeat top;
  background-size: 100%;
}

.section-14:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 780px;
  height: 155px;
  background: url("../images/banner_wrap_bottom.png") no-repeat center;
  background-size: 100%;
}

.section-14 .title_h2 {
  padding: 40px 0 35px;
}

.section-14 .text {
  font-size: 28px;
  line-height: 48px;
  text-align: justify;
}

.section-14 .banner-cen {
  padding: 50px 0;
}

.section-14 .note {
  text-align: justify;
  font-size: 20px;
  line-height: 29px;
  padding-top: 22px;
}

.section-14 .listItems {
  padding-top: 30px;
}

.section-14 .listItems .title_h3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section-14 .listItems .items {
  position: relative;
  float: left;
  width: 100%;
}

.section-14 .listItems .items .title_h3 {
  margin-left: -35px;
}

.section-14 .listItems .items .banner {
  padding-top: 24px;
}

.section-14 .pt_40 {
  padding-top: 40px;
}

.section-15 {
  position: relative;
  max-width: 792px;
  margin: 100px 0 0 -11px;
}

.section-15 .content-section {
  background: url("../images/bg_pattern.jpg") bottom;
  padding-bottom: 110px;
}

.section-15 .listItems {
  background: #fff;
  padding: 70px 0 30px 11px;
  position: relative;
}

.section-15 .listItems .items {
  position: relative;
}

.section-15 .listItems .items:first-child {
  padding-left: 1%;
  padding-bottom: 35px;
}

.section-15 .listItems .items:first-child .description-content {
  margin-top: -32px;
}

.section-15 .listItems .items:first-child .title_h3 {
  position: relative;
  left: -6%;
}

.section-15 .listItems .items:last-child {
  padding-right: 8px;
}

.section-15 .listItems .items:last-child .avatar {
  float: left;
  width: 47%;
}

.section-15 .listItems .items:last-child .description-content {
  float: left;
  width: 53%;
}

.section-15 .listItems .items:last-child .description-content {
  margin-top: -20px;
}

.section-15 .listItems .items:last-child .title_h3 {
  position: relative;
  left: 5%;
}

.section-15 .listItems .items:last-child .note {
  padding-top: 35px;
}

.section-15 .listItems .items .avatar {
  float: left;
  width: 45%;
}

.section-15 .listItems .items .description-content {
  float: left;
  width: 55%;
}

.section-15 .listItems .items .title_h3 {
  padding-bottom: 20px;
}

.section-15 .listItems .items .description {
  padding: 0 5%;
}

.section-15 .listItems .text {
  width: 298px;
  text-align: justify;
}

.section-15 .listItems .note {
  font-size: 13px;
  line-height: 17px;
  padding-top: 10px;
  color: #666666;
}

.section-15 .ps {
  position: relative;
  text-align: right;
  padding-top: 10px;
  font-size: 16px;
}

.section-15 + .section-03 {
  padding-top: 0;
}

/*======================================
        Footer
======================================*/
.link-tag {
  text-align: center;
  padding: 25px 0 35px;
  font-size: 21px;
}

.link-tag .link-tagIn {
  padding-left: 22px;
  padding-right: 22px;
}

.link-tag h4 {
  font-size: 42px;
  color: #D60056;
}

.link-tag p {
  font-size: 16px;
}

.link-tag .title-tag {
  padding: 14px 0 10px;
  text-indent: -10px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo, sans-serif;
  line-height: 28px;
  font-size: 24px;
}

.link-tag .tagList {
  display: table;
  margin: auto;
}

.link-tag .tagList li {
  float: left;
}

.link-tag .tagList li:not(:first-child) {
  padding-left: 19px;
}

.link-tag .tagList span {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 7px 17px 4px;
}

.footer {
  position: relative;
}

.footer .footerIn {
  padding: 30px 0 20px;
  background: #04C2CB;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.footer .banner-cen {
  padding-left: 1%;
  padding-right: 1%;
}

.footer .link-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .link-footer ul {
  display: table;
  margin: auto;
}

.footer .link-footer ul li {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 22px;
  border-right: 1px solid #ffffff;
}

.footer .link-footer ul li:first-child {
  border-left: 1px solid #ffffff;
}

.footer .link-footer ul li:not(:first-child) {
  padding-bottom: 4px;
}

.footer .copyright {
  text-align: center;
  color: #ffffff;
}

.is_tablet {
  display: block;
}

.is_sp {
  display: none;
}

/*-----------------------
        Responsive for device < 420px
-----------------------------------------*/
@media screen and (max-width: 500px) {
  .body-page:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0px;
    right: 0px;
    z-index: -1;
    background: white;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    height: 550px;
  }
  .body-page:after {
    top: 180px;
  }
  /*------------------- Component -------------------*/
  .mgr_left_29 {
    margin-left: 0;
  }
  .btn {
    width: 80%;
    margin: auto;
  }
  .is_sp {
    display: block;
  }
  .is_tablet {
    display: none;
  }
  .description,
  .text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .03em;
    text-align: justify;
  }
  /*------------------- Section -------------------*/
  .section-01 .paralax1 {
    width: 60%;
    top: -100px;
  }
  .section-01 .banner-text {
    bottom: 60px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
  }
  .section-03 {
    padding-top: 50px;
  }
  .section-03 .banner-cen {
    padding-left: 3%;
    padding-right: 3%;
  }
  .section-03 .text-link {
    top: 29%;
    right: 18%;
    font-size: 15px;
  }
  .section-03 .btn {
    bottom: 20px;
  }
  .section-03 + .arrow {
    padding-top: 50px;
  }
  .section-04 {
    margin-top: 45px;
  }
  .section-04 .list_fade li:nth-child(2) {
    top: -15px;
  }
  .section-04 .list_fade li:nth-child(3) {
    top: -35px;
  }
  .section-05 {
    padding-top: 0px;
  }
  .section-05 .banner-section {
    margin-top: -50px;
  }
  .section-05 .img-scroll {
    bottom: 32%;
  }
  .section-05 .img-scroll img {
    width: 49%;
    display: inline-block;
  }
  .section-06 .arrow {
    padding-top: 60px;
  }
  .section-07 {
    padding: 55px 0 80px;
  }
  .section-07 .title-fade {
    bottom: 125px;
  }
  .section-08 .banner-cen .foam {
    top: 45%;
    left: 7%;
    width: 40%;
  }
  .section-08 .description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .03em;
    padding-bottom: 60px;
  }
  .section-08 .line-yellow_220 {
    width: 19%;
    top: 10%;
    left: 49%;
    height: 8px;
  }
  .section-08 .line-yellow_220:before {
    left: -8px;
    border-width: 0 0 8px 8px;
  }
  .section-08 .line-yellow_220:after {
    right: -8px;
    border-width: 8px 8px 0 0;
  }
  .section-08 .line-yellow_490 {
    width: 50%;
    height: 8px;
    left: 24%;
    top: 25%;
  }
  .section-08 .line-yellow_490:before {
    left: -8px;
    border-width: 0 0 8px 8px;
  }
  .section-08 .line-yellow_490:after {
    right: -8px;
    border-width: 8px 8px 0 0;
  }
  .section-09 {
    margin-top: 50px;
  }
  .section-09 .title_h2 {
    padding-bottom: 50px;
  }
  .section-09 .paralax2 {
    top: 150px;
    background-size: 100%;
    width: 60%;
  }
  .section-09 .btn {
    margin: 45px auto 60px;
  }
  .section-10 .title-scroll {
    top: 180px;
  }
  .section-10 + .arrow {
    padding-top: 100px;
  }
  .section-11 {
    padding-top: 60px;
  }
  .section-12 {
    padding-top: 60px;
  }
  .section-12 .paralax3 {
    bottom: -50px;
    width: 60%;
    height: 320px;
    background-size: 100%;
  }
  .section-12 .title_h2.middle {
    padding: 75px 0;
  }
  .section-13 .items-top {
    margin-top: 50px;
    background-size: 100%;
    background-position: top;
    height: auto;
    margin-bottom: 50px;
  }
  .section-13 .items-top:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: -1;
    background: #c1f5f7;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 250px;
  }
  .section-13 .items-bottom {
    margin-top: 0;
    background-position: top;
    background-size: 100%;
    height: auto;
  }
  .section-13 .items-bottom:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: -1;
    background: #cbdef2;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 250px;
  }
  .section-13 .text {
    padding-top: 40px;
    padding-right: 0;
    width: 64%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .03em;
    text-align: justify;
  }
  .section-13 #background-blur {
    display: none;
  }
  .section-13 #background-blur-sp {
    background: url("../images/banner_blur_end.png") no-repeat center;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 324px;
    margin: 0px;
    margin-top: 20px;
    z-index: -1;
  }
  .section-14 {
    margin-top: 0;
    padding: 150px 5% 150px;
  }
  .section-14 .text,
  .section-14 .note {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .03em;
  }
  .section-14 .banner-cen {
    padding: 25px 0;
  }
  .section-14 .listItems .items .title_h3 {
    width: 80%;
  }
  .section-15 {
    background-size: 100%;
    margin: 50px 0 0 -7px;
    height: auto;
  }
  .section-15 .content-section {
    margin-top: 50px;
    padding-bottom: 60px;
  }
  .section-15 .listItems {
    padding-top: 0;
  }
  .section-15 .listItems .items .title_h3 {
    padding-bottom: 10px;
  }
  .section-15 .listItems .items:last-child .note {
    padding-top: 10px;
  }
  .section-15 .listItems .note {
    padding-top: 5px;
    font-size: 12px;
  }
  /*------------------- Footer -------------------*/
  .link-tag h4 {
    font-size: 30px;
  }
  .link-tag .title-tag {
    font-size: 16px;
  }
  .link-tag .link-tagIn {
    padding-left: 5%;
    padding-right: 5%;
  }
  .link-tag .tagList {
    font-size: 13px;
  }
  .link-tag .tagList li:not(:first-child) {
    padding-left: 10px;
  }
  .link-tag .tagList span {
    padding: 7px 8px 4px;
  }
  .footer .link-footer {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer .link-footer ul {
    display: block;
    margin: auto;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .footer .link-footer ul:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
  }
  .footer .link-footer ul li {
    line-height: 1.6;
    padding: 0;
    float: left;
    display: block;
    width: 50%;
    min-height: 65px;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
  }
  .footer .link-footer ul li:nth-child(odd) {
    border-right: 1px solid #ffffff;
  }
  .footer .link-footer ul li:first-child {
    border-left: 0;
  }
  .footer .link-footer ul li:last-child {
    border-bottom: 0;
  }
  .footer .link-footer ul li:not(:first-child) {
    padding-bottom: 4px;
  }
  .footer .link-footer ul li a {
    display: block;
    padding: 5px 10px;
  }
}

/*# sourceMappingURL=style.css.map */